
<div id="sidebar">
  <p>下の項目から症状を選択するか、測定値を入力して"送信"ボタンをクリックしてください。</p>
  <%= form_for(:parameter, :url => {:controller => :diagnoses,
                                    :action => :set_parameter},
               :method => :get) do |f| %>
    <ul>
      <% @select_parameters.each do |parameter| %>
        <li>
          <% if parameter == @select_parameters.last -%>
            <b><%= f.label parameter.name %></b><br />
            <%= f.text_field :limit_value, :class => :textfield %>
          <% else -%>
            <b><%= f.label parameter.name %></b>
            <%= parameter.limit_value %>
          <% end -%>
        <li>

      <% end %>

      <li>
        <div class="actions">
          <%= f.submit "送信", :id => "parameter-send" %>
        </div>
      </li>

    </ul>

  <% end %>

</div>

<div id="content">
  <h2>症状一覧</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @diagnoses.each do |diagnosis| %>
      <tr>
        <td><%= diagnosis.name %></td>
        <td><%= diagnosis.description %></td>
        <td><%= link_to 'Show', diagnosis %></td>
        <td><%= link_to 'Edit', edit_diagnosis_path(diagnosis) %></td>
        <td><%= link_to 'Destroy', diagnosis, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>

  </table>

<br />

<%= link_to 'New Diagnosis', new_diagnosis_path %>

</div><!-- content -->
