<!DOCTYPE html>
<html>
<head>
  <title>Cromos</title>

<link href='http://fonts.googleapis.com/css?family=Corben:bold' rel='stylesheet' type='text/css'>  

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1><%= image_tag "title.jpg", :height => 70  %></h1>

<%= yield %>

<div style="clear: both;"></div>
<hr />

</body>
</html>
