<!DOCTYPE html>
<html>
<head>
  <title>Cromos</title>

<link href='http://fonts.googleapis.com/css?family=Corben:bold' rel='stylesheet' type='text/css'>  

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1>
  <%= link_to image_tag("title.jpg", :height => 70),
                {:controller => :informations, :action => :index}  %>
  <%= link_to('Sign out', [:destroy, current_user, :session], :class => 'signOut') if current_user %>
</h1>

<%= yield %>

<div id="footer"> 
  Copyright &copy; <%=Time.now.year %> TEAM CROMOS
</div> 

</body>
</html>
