<h2>Listing parameters</h2>

<table>
  <tr>
    <th>FunctionName</th>
    <th>Name</th>
    <th>Description</th>
    <th>InitialQuestion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parameters.each do |parameter| %>
  <tr>
    <td><%= parameter.function_name %></td>
    <td><%= parameter.name %></td>
    <td><%= parameter.description %></td>
    <td><%= parameter.initial_question %></td>
    <td><%= link_to 'Show', parameter %></td>
    <td><%= link_to 'Edit', edit_parameter_path(parameter) %></td>
    <td><%= link_to 'Destroy', parameter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parameter', new_parameter_path %>
