<p id="notice"><%= notice %></p>

<p>
  <b>FunctionName:</b>
  <%= @parameter.function_name %>
</p>

<p>
  <b>Name:</b>
  <%= @parameter.name %>
</p>

<p>
  <b>Description:</b>
  <%= @parameter.description %>
</p>


<p>
  <b>LimitValue:</b>
  <%= @parameter.limit_value %>
</p>

<p>
  <b>Description:</b>
  <%= @parameter.description %>
</p>

<p>
  <b>InitialQuestion:</b>
  <%= @parameter.initial_question ? "Yes" : "No" %>
</p>


<%= link_to 'Edit', edit_parameter_path(@parameter) %> |
<%= link_to 'Back', parameters_path %>
